@page "/rules"
@inject IRuleService RuleService
@inject NavigationManager NavigationManager
@inject IMailService MailService
@attribute [Authorize]

<PageTitle>List of rules</PageTitle>

@if(rules == null)
{
    <span>Loading your rules...</span>
}
else if (rules.Count <= 0)
{
    <span>You have no rules</span>
    <br />
    <button class="btn btn-primary" @onclick="CreateRule">Create Rule</button>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description </th>
                    <th>Occurence</th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rule in rules)
                {
                    <tr>
                        <th>@rule.Title</th>
                        <th>@rule.Description</th>
                        <th>@rule.Occurrence</th>
                        <th>
                    <button class="btn btn-primary" @onclick="() => ShowRule(rule.Id)"><i class="oi oi-pencil"></i></button>
                </th>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" @onclick="CreateRule">Create Rule</button>
        <button class="btn btn-primary" @onclick="SendEmail">Send Email</button>
    
}

@code {
    List<Rule> rules = null;

    protected override async Task OnInitializedAsync()
    {
        rules = await RuleService.GetRules();
    }
    void SendEmail()
    {
        NavigationManager.NavigateTo("/sendEmail");
    }
    void CreateRule()
    {
        NavigationManager.NavigateTo("/addRule");
    }
    void ShowRule(int id)
    {
        NavigationManager.NavigateTo($"rule/{id}");
    }
}

