@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="btn btn-outline-primary home-button">
        <span class="oi oi-home"></span>
        Home       
    </button>
        
@code {
    private void GoToHome() 
    {
        NavigationManager.NavigateTo("");
    }
}
