.show-menu{
    display: block;
}

.user-button {
    margin-left: .5em;
    margin: 15px;
    font-size: 20px;
    margin-left: auto;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item:hover{
    background-color: white;
}
